* {
  font-family: Ubuntu;
  font-size: 14;
}

window#waybar {
  background-color: rgba(27, 27, 27, 0.4);
}

#battery,
#tray,
#custom-all-apps,
#custom-do-not-disturb,
#clock {
  color: #f2f3f4;
  padding: 2px 0px 2px 0px;
  font-weight: 500;
}

#battery {
  font-size: 17;
  margin-right: 17px;
}

#battery.charging {
  font-size: 11;
}

#battery.critical {
  font-size: 11;
}

#clock {
  font-weight: bold;
  margin-left: 15px;
  margin-right: 14px;
}
